*{
	margin: 0;
	padding: 0;
	scrollbar-width: none;
	scroll-behavior: smooth;
	
	font-family: 'Inter', sans-serif;
}

body{
	background: black;
	color: white;
	overflow-y: scroll;
}

.toggler{
	display:none;
}


#mainPage{
	height: 100vh;
	position: relative;
}


#about{
	position: relative;
	scroll-margin-top: 5em;
	width: 100%;
	height: calc(100vh - 5em);
}

#about #my_photo{
	display: block;
	width: 17em;
	border-radius: 8px;
	position: absolute;
	right: 7em;
	bottom: 5em;
}

#about p{
	font-size: 1.7em;
}

p.info{
	display: block;
	margin: auto;
	padding: 4em;
	text-indent: 30px;
	line-height: 1.3;
	word-spacing: 5px;
}

p.info a{
	text-decoration: none;
	color: #FF6600;
}


#contact{
	position: relative;
	scroll-margin-top: 5em;
	width: 100%;
	height: calc(100vh - 5em);
}

p{
	font-size: 50px;
}

p#mail{
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 40vh;
}
p#phone{
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 0;
}


nav{
	border-bottom: none;
	z-index: 4;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 5em;
	padding-right: 2em;
	box-sizing: border-box;
	transition: .3s;
	background: black;
}

nav ul{
	top: 0;
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul il{
	list-style: none;
}

nav ul li a{
	line-height: 80px;
	color: white;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3;
}

nav ul li a:focus{
	outline: none;
}


nav.black{
	border-bottom: 1px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}


h1#name{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	margin: auto;
	
	font-size: 5.5em;
	animation: type 2s steps(16);
	overflow: hidden;
	white-space: nowrap;
	font-family: consolas;
	border-right: 4px solid white;
	width: 16;
}

@keyframes type{
	0%{
		width: 0ch;
	}
	100%{
		width: 16ch;
	}
}

::-webkit-scrollBar{
	width: 0;
}


#scrollBar{
	z-index: 5;
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,0.05);
}

#progressBar{
	z-index: 5;
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background: linear-gradient(to top, #008aff, #00ffe7);
	animation: animate1 5s linear infinite;
}

@keyframes animate1{
	0%,100%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(360deg);
	}
}

#progressBar:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(10px);
}

#progressBar:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(30px);
}



#scrollDown{
	position: absolute;
	bottom: 10px;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

#scrollDown span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	animation: animate2 1.5s linear infinite;
	opacity: 0;
}

#scrollDown span:nth-child(1){
	transform: translate(-15px, -15px);
	animation-delay: -0.4s;
}
#scrollDown span:nth-child(2){
	transform: translate(0, 0);
	animation-delay: -0.2s;
}
#scrollDown span:nth-child(3){
	transform: translate(15px, 15px);
	animation-delay: 0s;
}

@keyframes animate2{
	0%{
		top: -5px;
		left: -5px;
		opacity: 0;
	}
	25%{
		top: 0px;
		left: 0px;
		opacity: 1;
		
	}
	50%,100%{
		top: 5px;
		left: 5px;
		opacity: 0;
	}
}


@media screen and (max-width: 1320px){
	#about{
		height: calc(125vh - 5em);
	}
}


@media screen and (max-width: 820px){

	nav ul{
		display: none;
		position: absolute;
		z-index: 7;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: 100vh;
		width: 100vw;
		padding-left: 0;
		list-style-type: none;
		padding-top: 30vh;
	}

	nav ul li a{
		color: white;
		text-decoration: none;
		font-size: 1.5em;
	}
	

	.nav-tgl {
	  display: inline-block;
	  cursor: pointer;
	  position: fixed;
	  z-index: 6;
	  right: 20px;
	  top: 5px;
	  width: 70px;
	  height: 70px;
	  border: none;
	  border-radius: 50%;
	  padding: 0;
	  background: #262626;
	  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
	  line-height: 0.6;
	  text-align: center;
	}
	.nav-tgl > span {
	  display: inline-block;
	  position: relative;
	  height: 2px;
	  width: 34px;
	  border-radius: 1px;
	  background: white;
	  vertical-align: middle;
	}
	.nav-tgl > span:before, .nav-tgl > span:after {
	  display: inline-block;
	  position: absolute;
	  content: "";
	  height: 2px;
	  border-radius: 1px;
	  background: white;
	  transition: all 200ms;
	}
	.nav-tgl > span:before {
	  top: -11px;
	  left: 3px;
	  width: 28px;
	}
	.nav-tgl > span:after {
	  top: 11px;
	  left: 6px;
	  width: 22px;
	}
	.nav-tgl:focus {
	  outline: none;
	}
	.nav-tgl:hover > span:after, .nav-tgl:hover > span:before {
	  width: 34px;
	  left: 0;
	}

	nav:before {
	  display: block;
	  position: fixed;
	  top: 0;
	  left: 0;
	  content: '';
	  width: 100vw;
	  height: 100vh;
	  background: rgba(38,38,38);
	  transition: all 500ms ease-in-out;
	  clip-path: circle(30px at calc(100% - 65px) 65px);
	  visibility: hidden;
	}
	

	.menu1.active nav:before {
	  visibility: visible;
	  clip-path: circle(100%);
	}
	.menu1.active .nav-tgl > span {
	  height: 0;
	}
	.menu1.active .nav-tgl > span:after, .menu1.active .nav-tgl > span:before {
	  top: 0px;
	  left: 0;
	  width: 34px;
	}
	.menu1.active .nav-tgl > span:after {
	  transform: rotate(-45deg);
	}
	.menu1.active .nav-tgl > span:before {
	  transform: rotate(45deg);
	}
	
	
	
	nav.black{
		border-bottom: none;
		-webkit-background-clip: none; /* for Safari */
		background-clip: none; /* for IE9+, Firefox 4+, Opera, Chrome */
	}
		

	
	h1#name{
		font-size: 3em;
		white-space: pre-line;
		
		animation: type 1.3s steps(10);
		border-right: none;
		width: 10;
		
	}
	
	@keyframes type{
	0%{
		width: 0ch;
	}
	100%{
		width: 10ch;
	}
	}
	
	#about{
		height: calc(140vh - 5em);
	}
	
	#about p{
		font-size: 18px;
	}
	
	p.info{
		margin: 5%;
		padding: 0;
		padding-top: 30px;
	}
	
	#about #my_photo{
		right: calc(50vw - 8.5em);
	}
	
	
	p{
		font-size: 20px;
	}
	p#phone{
		font-size: 20px;
	}
}























